.card {
  width: 90%;
  margin: 5%;
  margin-right: 0 !important;
}

th, td {
  font-size: 12px;
}

body {
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(rgb(255, 255, 255), rgb(243, 147, 144));
  min-height: 100vh;
}

button {
  margin: 1.2%;
}
